In [3]:
import pandas as pd
import numpy as np

In [4]:
school_data_load = "Resources/schools_complete.csv"
student_data_load = "Resources/students_complete.csv"

school_data = pd.read_csv(school_data_load)
student_data = pd.read_csv(student_data_load)

school_data_combined = pd.merge(school_data, student_data, how="left", on=["school_name","school_name"])

school_data_combined.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [5]:
school_data_combined.describe()

,School ID,size,budget,Student ID,reading_score,math_score
count,39170.000000,39170.000000,3.917000e+04,39170.000000,39170.00000,39170.000000
mean,6.978172,3332.957110,2.117241e+06,19584.500000,81.87784,78.985371
std,4.444329,1323.914069,8.749987e+05,11307.549359,10.23958,12.309968
min,0.000000,427.000000,2.480870e+05,0.000000,63.00000,55.000000
25%,3.000000,1858.000000,1.081356e+06,9792.250000,73.00000,69.000000
50%,7.000000,2949.000000,1.910635e+06,19584.500000,82.00000,79.000000
75%,11.000000,4635.000000,3.022020e+06,29376.750000,91.00000,89.000000
max,14.000000,4976.000000,3.124928e+06,39169.000000,99.00000,99.000000

In [7]:
school_data_combined.dtypes

School ID         int64
school_name      object
type             object
size              int64
budget            int64
Student ID        int64
student_name     object
gender           object
grade            object
reading_score     int64
math_score        int64
dtype: object

In [137]:
print("District Summary")

District Summary

In [94]:
Total_S = school_data_combined["school_name"].unique()
Total_Schools = len(Total_S)
Total_Schools

15

In [43]:
Total_Students = school_data_combined["Student ID"].count()
Total_Students

39170

In [131]:
Total_Budget = sum(school_data_combined["budget"].unique())
Total_Budget

24649428

In [51]:
Average_Math_Score = school_data_combined["math_score"].mean()
Average_Math_Score

78.98537145774827

In [53]:
Average_Reading_Score = school_data_combined["reading_score"].mean()
Average_Reading_Score

81.87784018381414

In [121]:
Passing_Math= school_data_combined.loc[school_data_combined["math_score"]>=70]["math_score"].count()/Total_Students*100
Passing_Math

74.9808526933878

In [122]:
Passing_Reading = school_data_combined.loc[school_data_combined["reading_score"]>=70]["reading_score"].count()/Total_Students*100
Students
Passing_Reading

85.80546336482001

In [132]:
Overall_Passing_Rate = (Average_Reading_Score + Average_Math_Score)/2
Overall_Passing_Rate

80.43160582078121

In [133]:
District_Summary = pd.DataFrame({"Total Schools":[Total_Schools],
                                 "Total Students":[Total_Students],
                                 "Total Budget":[Total_Budget],
                                 "Average Math Score":[Average_Math_Score],
                                 "Avereage Reading Score":[Average_Reading_Score],
                                 "% Passing Math":[Passing_Math],
                                 "% Passing Reading":[Passing_Reading],
                                 "% Overall Passing Rate":[Overall_Passing_Rate]
                                })

District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Avereage Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [225]:
print("School Summary")

School Summary

In [332]:
School_Summary_2 = school_data_combined.set_index('school_name').groupby(["school_name"])
School_Summary_2

In [353]:
School_Type = School_Summary['type'].first()
School_Type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [354]:
Total_StudentC = School_Summary['size'].first()
Total_StudentC

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [355]:
Total_School_Budget = School_Summary["budget"].first()
Total_School_Budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [356]:
Per_Student_Budget = Total_School_Budget/Total_StudentC
Per_Student_Budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [357]:
Average_Math = School_Summary["math_score"].mean()
Average_Math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [358]:
Average_Reading = School_Summary["reading_score"].mean()
Average_Reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [359]:
Passing_M2 = school_data_combined[school_data_combined["math_score"]>=70].groupby(["school_name"]).size()
Passing_M = (Passing_M2/Total_StudentC)*100
Passing_M

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [360]:
Passing_R2 = school_data_combined[school_data_combined["reading_score"]>=70].groupby(["school_name"]).size()
Passing_R = Passing_R2/Total_StudentC*100
Passing_R

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [361]:
O_Passing = (Passing_M + Passing_R)/2
O_Passing

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [363]:
Group_School = pd.DataFrame({"School Type":School_Type,
                             "Total Students":Total_StudentC,
                             "Total School Budget":Total_School_Budget,
                             "Per Student Budget":Per_Student_Budget,
                             "Average Math Score":Average_Math,
                             "Average Reading Score":Average_Reading,
                             "% Passing Math":Passing_M,
                             "% Passing Reading":Passing_R,
                             "% Overall Passing Rate":O_Passing})
Group_School

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [369]:
Top_5 = Group_School.sort_values(["% Overall Passing Rate"], ascending=False)

Top_5.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [368]:
Bottom_5 = Group_School.sort_values(["% Overall Passing Rate"])

Bottom_5.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [371]:
print("Reading Score by Grade")

Reading Score by Grade

In [374]:
ninth_grade = school_data_combined.loc[school_data_combined["grade"]== "9th"].groupby("school_name")["math_score"].mean()
ninth_grade

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [375]:
tenth_grade = school_data_combined.loc[school_data_combined["grade"]== "10th"].groupby("school_name")["math_score"].mean()
tenth_grade

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [376]:
eleventh_grade = school_data_combined.loc[school_data_combined["grade"]== "11th"].groupby("school_name")["math_score"].mean()
eleventh_grade

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [377]:
twelfth_grade = school_data_combined.loc[school_data_combined["grade"]== "9th"].groupby("school_name")["math_score"].mean()
twelfth_grade

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [379]:
Math_ScoresBy_Grade = pd.DataFrame({"9th":ninth_grade,
                                    "10th":tenth_grade,
                                    "11th":eleventh_grade,
                                    "12th":twelfth_grade})

Math_ScoresBy_Grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  77.083676
Cabrera High School    83.094697  83.154506  82.765560  83.094697
Figueroa High School   76.403037  76.539974  76.884344  76.403037
Ford High School       77.361345  77.672316  76.918058  77.361345
Griffin High School    82.044010  84.229064  83.842105  82.044010
Hernandez High School  77.438495  77.337408  77.136029  77.438495
Holden High School     83.787402  83.429825  85.000000  83.787402
Huang High School      77.027251  75.908735  76.446602  77.027251
Johnson High School    77.187857  76.691117  77.491653  77.187857
Pena High School       83.625455  83.372000  84.328125  83.625455
Rodriguez High School  76.859966  76.612500  76.395626  76.859966
Shelton High School    83.420755  82.917411  83.383495  83.420755
Thomas High School     83.590022  83.087886  83.498795  83.590022
Wilson High School     83.085578  83.724422  83.195326  83.085578
Wright High School     83.264706  84.010288  83.836782  83.264706

In [380]:
print("Reading Scores by Grade")

Reading Scores by Grade

In [381]:
Rninth_grade = school_data_combined.loc[school_data_combined["grade"]== "9th"].groupby("school_name")["reading_score"].mean()

In [382]:
Rtenth_grade = school_data_combined.loc[school_data_combined["grade"]== "10th"].groupby("school_name")["reading_score"].mean()

In [383]:
Releventh_grade = school_data_combined.loc[school_data_combined["grade"]== "11th"].groupby("school_name")["reading_score"].mean()

In [384]:
Rtwelfth_grade = school_data_combined.loc[school_data_combined["grade"]== "12th"].groupby("school_name")["reading_score"].mean()

In [386]:
Reading_ScoresBy_Grade = pd.DataFrame({"9th":Rninth_grade,
                                    "10th":Rtenth_grade,
                                    "11th":Releventh_grade,
                                    "12th":Rtwelfth_grade})

Reading_ScoresBy_Grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [387]:
print("Scores by School Spending")

Scores by School Spending

In [396]:
Scores_School_Spending = Group_School.copy()

In [397]:
bins = [0, 600, 650, 700, 750]

In [398]:
group_names = ["<$600", "$600-650", "$650-700", "$700-750"]
group_names

['<$600', '$600-650', '$650-700', '$700-750']

In [399]:
Scores_School_Spending["Per Student Budget"]=Scores_School_Spending["Per Student Budget"]\
.replace('[\$]','',regex=True).astype('float')

In [400]:
Scores_School_Spending["Spending Ranges Per Student"] = pd.cut(Scores_School_Spending["Per Student Budget"],bins, labels=group_names)

In [403]:
Scores_School_Spending = Scores_School_Spending[["Average Math Score",
                                                  "Average Reading Score",
                                                   "% Passing Math",
                                                   "% Passing Reading",
                                                   "% Overall Passing Rate",
                                                   "Spending Ranges Per Student"]]

In [404]:
Avg_ScoresBySpend = Scores_School_Spending.groupby('Spending Ranges Per Student').mean()

Avg_ScoresBySpend

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges Per Student,,,,,
<$600,83.436210,83.892196,93.541501,96.459627,95.000564
$600-650,79.423466,82.044963,76.832677,86.725974,81.779326
$650-700,76.959583,81.058567,66.218444,81.089710,73.654077
$700-750,NaN,NaN,NaN,NaN,NaN

In [406]:
print("Scores by School Size")

Scores by School Size

In [425]:
Size_School_Spending = Group_School.copy()

In [426]:
bins = [0, 1000, 2000, 5000]

In [427]:
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [428]:
Size_School_Spending["Total Students"]=pd.to_numeric(Size_School_Spending["Total Students"])

In [429]:
Size_School_Spending["School Size"] = pd.cut(Size_School_Spending["Total Students"],bins, labels=group_names)

In [430]:
Size_School_Spending = Size_School_Spending[["Average Math Score",
                                                  "Average Reading Score",
                                                   "% Passing Math",
                                                   "% Passing Reading",
                                                   "% Overall Passing Rate",
                                                   "School Size"]]

In [431]:
Avg_SizeBySpend = Size_School_Spending.groupby('School Size').mean()

Avg_SizeBySpend

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

In [435]:
Type_School_Spending = Group_School.copy()

In [440]:
Type_School_Spending = Type_School_Spending[["Average Math Score",
                                                  "Average Reading Score",
                                                   "% Passing Math",
                                                   "% Passing Reading",
                                                   "% Overall Passing Rate",
                                                   "School Type"]]

In [442]:
Type_School_Spend = Type_School_Spending.groupby("School Type").mean()

Type_School_Spend

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757